<form  ><!--ng-submit="addProvider()"-->
    <br />
    <br />
    <div class="form-group">
        <label for="accountStateUserId" class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-10">
            <input type="text" ng-model="accountStateUserId" class="form-control" id="accountStateUserId" placeholder="Usuario" />            
        </div>
    </div>    

    <div class="form-group">
        <label for="accountStateMonth" class="col-sm-2 control-label">Mes</label>
        <div class="col-sm-10">
            <input type="text" ng-model="accountStateMonth" class="form-control" id="accountStateMonth" placeholder="Mes" />
        </div>
    </div>    
	
	<div class="form-group">
        <label for="accountStateYear" class="col-sm-2 control-label">Ano</label>
        <div class="col-sm-10">
            <input type="text" ng-model="accountStateYear" class="form-control" id="accountStateYear" placeholder="ano" />            
        </div>
    </div>    
	
	<div class="form-group">
        <label for="accountStateAmmount" class="col-sm-2 control-label">Monto</label>
        <div class="col-sm-10">
            <input type="text" ng-model="accountStateAmmount" class="form-control" id="accountStateAmmount" placeholder="monto" />            
        </div>
    </div>    

</form>