<form  ><!--ng-submit="addProvider()"-->
    <br />
    <br />
    <div class="form-group">
        <label for="serviceId" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-10">
            <input type="text" ng-model="serviceId" class="form-control" id="serviceId" placeholder="Id del servicio" />            
        </div>
    </div>    

    <div class="form-group">
        <label for="serviceName" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" ng-model="serviceName" class="form-control" id="serviceName" placeholder="Nombre" />
        </div>
    </div>    
	
	<div class="form-group">
        <label for="serviceBuilding" class="col-sm-2 control-label">Edificio</label>
        <div class="col-sm-10">
            <input type="text" ng-model="serviceBuilding" class="form-control" id="serviceBuilding" placeholder="Edificio" />            
        </div>
    </div>    
  

</form>